STT: 16

Họ và tên: LƯU QUANG TIẾN HOÀNG

Lớp: DS105.M11.2

Buổi 02 - Bài 02 - Lab02

In [308]:
import pandas as pd
import numpy as np

In [309]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Câu 1: Tạo dataframe (df) biểu diễn bộ dữ liệu thô đã cung cấp. Sau đó tìm các insight
cơ bản nhất của dataset.

In [310]:
df=pd.read_csv('/content/drive/MyDrive/DS105/LAB2/auto_lab.csv',header=None)

In [311]:
df

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,NaN,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [312]:
df.dtypes

0       int64
1      object
2      object
3      object
4      object
5      object
6      object
7      object
8      object
9      object
10     object
11     object
12    float64
13     object
14     object
15     object
16      int64
17     object
18     object
19     object
20    float64
21     object
22     object
23      int64
24      int64
25     object
dtype: object

In [313]:
df.describe()

               0           12          16          20          23          24
count  205.000000  205.000000  205.000000  205.000000  205.000000  205.000000
mean     0.834146   53.724878  126.907317   10.142537   25.219512   30.751220
std      1.245307    2.443522   41.642693    3.972040    6.542142    6.886443
min     -2.000000   47.800000   61.000000    7.000000   13.000000   16.000000
25%      0.000000   52.000000   97.000000    8.600000   19.000000   25.000000
50%      1.000000   54.100000  120.000000    9.000000   24.000000   30.000000
75%      2.000000   55.500000  141.000000    9.400000   30.000000   34.000000
max      3.000000   59.800000  326.000000   23.000000   49.000000   54.000000

In [314]:
df.to_csv('df_cau01.csv')

Câu 2: Tạo header cho các cột tương ứng với danh sách đặt tên như sau. Sau đó, xuất ra thông tin 9
sample đầu tiên, 6 sample cuối, và 8 sample bất kỳ. Kết quả tổng hợp thành
một df khác.

In [315]:
headers =  ["symboling",
"normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors",
"body-style", "drive-wheels", "engine-location", "wheel-base", "length",
"width", "height", "curb-weight", "engine-type", "num-of-cylinders", "enginesize", "fuel-system", "bore", "stroke", "compression-ratio", "horsepower",
"peak-rpm", "city-mpg", "highway-mpg", "price"]

In [316]:
df.columns = headers

In [317]:
a=df.head(9)

In [318]:
a

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,??,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875

In [319]:
b=df.tail(6)

In [320]:
b

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,NaN,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [321]:
c=df.sample(n=8)

In [322]:
c

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
95,1,128,nissan,gas,std,two,hatchback,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7799
188,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,10.0,100,5500,26,32,9995
36,0,78,honda,gas,std,four,wagon,fwd,front,96.5,...,92,1bbl,2.92,3.41,9.2,76,6000,30,34,7295
85,1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,6989
134,3,150,saab,gas,std,two,hatchback,fwd,front,99.1,...,121,mpfi,2.54,2.07,9.3,110,5250,21,28,15040
157,0,91,toyota,gas,std,four,hatchback,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,7198
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710

In [323]:
dfnew=pd.concat([a,b,c])

In [324]:
dfnew

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,??,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,NaN,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
95,1,128,nissan,gas,std,two,hatchback,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7799
188,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,10.0,100,5500,26,32,9995
36,0,78,honda,gas,std,four,wagon,fwd,front,96.5,...,92,1bbl,2.92,3.41,9.2,76,6000,30,34,7295
85,1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,6989
134,3,150,saab,gas,std,two,hatchback,fwd,front,99.1,...,121,mpfi,2.54,2.07,9.3,110,5250,21,28,15040
157,0,91,toyota,gas,std,four,hatchback,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,7198
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710

In [325]:
dfnew.to_csv('df_cau02.csv')

Câu 3. Chuyển đổi “?”, hoặc “.”, hoặc “”, hoặc “_”, hoặc “Na”, hoặc “NULL”, hoặc
“null”, hoặc “not”, hoặc “Not” sang NaN/nan.

In [326]:
df=df.replace(['?','??','.','','_','Na','NULL','null','not','Not'],np.nan)

In [327]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,NaN,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [328]:
df.isnull().sum()

symboling             0
normalized-losses    43
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            6
length                4
width                 1
height                0
curb-weight           3
engine-type           0
num-of-cylinders      0
enginesize            0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 6
dtype: int64

In [329]:
df.to_csv('df_cau03.csv')

Câu 4. Kiểm tra kiểu dữ liệu của mỗi attribute trong df. Sau đó, chuyển về kiểu dữ liệu cho phù hợp.

In [330]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  162 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         199 non-null    object
 10  length             201 non-null    object
 11  width              204 non-null    object
 12  height             205 non-null    float64
 13  curb-weight        202 non-null    object
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  enginesize         205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              199 non-null    object
dtypes: float64(2), int64(4), object(20)
memory usage: 41.8+ KB

In [331]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base            object
length                object
width                 object
height               float64
curb-weight           object
engine-type           object
num-of-cylinders      object
enginesize             int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [332]:
(df.isna().any(axis=0)).value_counts()

False    15
True     11
dtype: int64

In [333]:
df.isna().sum().sum()

77

In [334]:
df['normalized-losses'] = df['normalized-losses'].fillna(0)
df['normalized-losses'] = df['normalized-losses'].astype(int)

In [335]:
df['wheel-base'] = df['wheel-base'].astype(float)

In [336]:
df['length'] = df['length'].astype(float)

In [337]:
df['width'] = df['width'].astype(float)

In [338]:
df['bore'] = df['bore'].astype(float)

In [339]:
df['peak-rpm'] = df['peak-rpm'].astype(float)

In [340]:
df['curb-weight'] = df['curb-weight'].fillna(0)
df['curb-weight'] = df['curb-weight'].astype('int')

In [341]:
df['horsepower'] = df['horsepower'].astype(float)

In [342]:
df['stroke'] = df['stroke'].astype(float)

In [343]:
df['price'] = df['price'].fillna(0)
df['price'] = df['price'].astype('int')

In [344]:
df.to_csv('df_cau04.csv')

Câu 5. Chuyển từ df (bộ dữ liệu) đang có sang kiểu mảng 2 chiều trong Numpy.

In [345]:
df_numpy2 = df.to_numpy()
df_numpy2

array([[3, 0, 'alfa-romero', ..., 21, 27, 13495],
       [3, 0, 'alfa-romero', ..., 21, 27, 16500],
       [1, 0, 'alfa-romero', ..., 19, 26, 16500],
       ...,
       [-1, 95, 'volvo', ..., 18, 23, 21485],
       [-1, 95, 'volvo', ..., 26, 27, 22470],
       [-1, 95, 'volvo', ..., 19, 25, 22625]], dtype=object)

In [346]:
df.to_csv('df_cau05.csv')

Câu 6: Số lượng feature bị khuyết giá trị? Tổng số lượng giá trị bị khuyết?

In [347]:
NaN_value = pd.Series(df.isnull().sum())

In [348]:
NaN_value

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           6
length               4
width                1
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
enginesize           0
fuel-system          0
bore                 4
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [349]:
len(NaN_value[NaN_value>0])

8

In [350]:
NaN_value[NaN_value>0].sum()

25

NX: Ban đầu có 11 features bị khiếm khuyết và có tổng cộng 77 giá trị bị khuyết.Sau khi điền Na bằng 0 để cho phù hợp thì còn lại 8 feature bị khiếm khuyết và 25 giá trị bị khuyết.

In [351]:
df.to_csv('df_cau06.csv')

Câu 7. Đánh giá xem dataset có bao nhiêu phần trăm sample bị khuyết giá trị.

In [352]:
NaN1 = df.isna().any(axis=1).sum()

print('Phần trăm sample bị khuyết :', (NaN1/df.shape[0])*100)

Phần trăm sample bị khuyết : 9.268292682926829

Câu 8. Dùng phương pháp thay thế (replace) để xử lý các giá trị bị khuyết cho các
feature sau: "normalized-losses" (mean), "stroke" (choice), "bore" (mean),
"horsepower" (choice), "peak-rpm" (mean). Và, "num-of-doors" (giá trị nhiều
nhiều nhất).

In [353]:
df['normalized-losses'].fillna(value=df["normalized-losses"].mean(), inplace=True)

In [354]:
import random
df["stroke"].fillna(value=random.choice(df["stroke"]), inplace=True)

In [355]:
df['bore'].fillna(value=df["bore"].mean(), inplace=True)

In [356]:
df["horsepower"].fillna(value=random.choice(df["horsepower"]), inplace=True)

In [357]:
df['peak-rpm'].fillna(value=df["peak-rpm"].mean(), inplace=True)

In [358]:
df['peak-rpm'].fillna(value=df["peak-rpm"].mode(), inplace=True)

In [359]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    int64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         199 non-null    float64
 10  length             201 non-null    float64
 11  width              204 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  enginesize         205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    float64
 19  stroke             205 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    float64
 22  peak-rpm           205 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    int64
dtypes: float64(9), int64(7), object(10)
memory usage: 41.8+ KB

In [360]:
df.to_csv('df_cau08.csv')

Câu 9. Sử dụng Nearest neighbors để điền các giá trị bị thuyết.

In [361]:
df_1=df

In [362]:
df_1

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
201,-1,0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [363]:
#lọc ra những features có kiểu dữ liệu số
filt = df_1.apply(lambda x: x.dtype==np.int64 or x.dtype==np.float64)
df_2 = df_1[df_1.columns[filt]]
df_2

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,enginesize,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114.0,5400.0,23,28,16845
201,-1,0,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160.0,5300.0,19,25,19045
202,-1,95,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134.0,5500.0,18,23,21485
203,-1,95,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106.0,4800.0,26,27,22470
204,-1,95,109.1,NaN,68.9,55.5,3062,141,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [364]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=4, metric='nan_euclidean')
df_trans = imputer.fit_transform(df_2)
fill_data = pd.DataFrame(df_trans, columns=df_2.columns)
df_1[df_1.columns[filt]] = fill_data

In [365]:
df_1.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
enginesize           0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [366]:
df_1.to_csv('df_cau09.csv')

Câu 10. Dùng phương pháp loại bỏ (drop) cho các sample đối với các feature bị khuyết.

In [367]:
df_c10=df

In [368]:
df_c10

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3.0,0.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0
1,3.0,0.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0
2,1.0,0.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152.0,mpfi,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0
3,2.0,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0
4,2.0,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136.0,mpfi,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.0,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141.0,mpfi,3.78,3.15,9.5,114.0,5400.0,23.0,28.0,16845.0
201,-1.0,0.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141.0,mpfi,3.78,3.15,8.7,160.0,5300.0,19.0,25.0,19045.0
202,-1.0,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173.0,mpfi,3.58,2.87,8.8,134.0,5500.0,18.0,23.0,21485.0
203,-1.0,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145.0,idi,3.01,3.40,23.0,106.0,4800.0,26.0,27.0,22470.0
204,-1.0,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141.0,mpfi,3.78,3.15,9.5,114.0,5400.0,19.0,25.0,22625.0

In [369]:
df_c10=df_c10.dropna()

In [370]:
df_c10.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
enginesize           0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [371]:
df_c10.to_csv('df_cau010.csv')

Câu 11. Viết hàm kiểm tra xem một df có còn bị khuyết dữ liệu không? Nếu không khuyết trả về true, ngược lại false.

In [372]:
def check_na(df):
     return df.isna().sum().sum() == 0

In [373]:
pd.Series(df.isnull().sum())[pd.Series(df.isnull().sum()) > 0]

num-of-doors    2
dtype: int64

In [374]:
pd.Series(df_2.isnull().sum())[pd.Series(df_2.isnull().sum()) > 0]

wheel-base    6
length        4
width         1
dtype: int64

In [375]:
pd.Series(df_c10.isnull().sum())[pd.Series(df_c10.isnull().sum()) > 0]

Series([], dtype: int64)

In [376]:
check_na(df)

False

In [377]:
check_na(df_2)

False

In [378]:
check_na(df_c10)

True

In [379]:
df.to_csv('df_cau011.csv')

Câu 12. Chuẩn hóa "length", "width" và "height" trong phạm vi [0,1].

In [380]:
df_c12=df

In [381]:
df_c12[['length','width','height']]

     length  width  height
0     168.8   64.1    48.8
1     168.8   64.1    48.8
2     171.2   65.5    52.4
3     176.6   66.2    54.3
4     176.6   66.4    54.3
..      ...    ...     ...
200   188.8   68.9    55.5
201   188.8   68.8    55.5
202   188.8   68.9    55.5
203   188.8   68.9    55.5
204   184.8   68.9    55.5

[205 rows x 3 columns]

In [382]:
df_c12['length'] = (df_c12['length'] - df_c12['length'].min())/(df_c12['length'].max() - df_c12['length'].min())
df_c12['width']= (df_c12['width'] - df_c12['width'].min())/(df_c12['width'].max() - df_c12['width'].min())
df_c12['height']= (df_c12['height'] - df_c12['height'].min())/(df_c12['height'].max() - df_c12['height'].min())

In [383]:
df_c12[['length','width','height']]

       length     width    height
0    0.413433  0.316667  0.083333
1    0.413433  0.316667  0.083333
2    0.449254  0.433333  0.383333
3    0.529851  0.491667  0.541667
4    0.529851  0.508333  0.541667
..        ...       ...       ...
200  0.711940  0.716667  0.641667
201  0.711940  0.708333  0.641667
202  0.711940  0.716667  0.641667
203  0.711940  0.716667  0.641667
204  0.652239  0.716667  0.641667

[205 rows x 3 columns]

In [384]:
df_c12.to_csv('df_cau012.csv')

Câu 13. Tạo các bin là ['Low', 'Medium', 'High'] cho “horsepower” và “price”

In [385]:
df_4=df

In [386]:
Cau13 = ["Low", "Medium", "High"]
df_4["bin_horsepower"] = pd.qcut(df_4['horsepower'],q=3, labels = Cau13)
df_4[['horsepower', 'bin_horsepower']]

     horsepower bin_horsepower
0         111.0         Medium
1         111.0         Medium
2         154.0           High
3         102.0         Medium
4         115.0           High
..          ...            ...
200       114.0           High
201       160.0           High
202       134.0           High
203       106.0         Medium
204       114.0           High

[205 rows x 2 columns]

In [387]:
#Tạo bin cho price
df_4["bin_price"] = pd.qcut(df_4['price'],q=3, labels = Cau13)
df_4[['price', 'bin_price']]

       price bin_price
0    13495.0    Medium
1    16500.0      High
2    16500.0      High
3    13950.0      High
4    17450.0      High
..       ...       ...
200  16845.0      High
201  19045.0      High
202  21485.0      High
203  22470.0      High
204  22625.0      High

[205 rows x 2 columns]

In [388]:
df_4.to_csv('df_cau013.csv')

Câu 14. Viết hàm lưu các df trong quá trình xử lý dữ liệu của các câu trên thành các tập tin sau “.csv”, hoặc “.json”, hoặc “excel”, hoặc “hdf”, hoặc “.sql”. Đặt tên file lưu trữ theo fomat sau: df_cau0x.<kiểu file>, với x là số thứ tự câu.

Trả lời: Hoàn thành ở cuối mỗi câu.